.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.input, .textarea {
    width: 100%;
    padding: 0.9rem;
    border-radius: 8px;
    border: 1px solid #c7d6e3;
    background: #f8fbff;
    font-size: 1rem;
}

.textarea {
    height: 130px;
    resize: none;
}

.submitButton {
    padding: 0.8rem;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;
}

